
.calendar {
  margin: auto;
}
table
{
    border-collapse:collapse;
}
div.operator {
    width:100%;
    position:relative;
    display:inline-block;
    background:red;
    border:1px solid green;
    margin: 5px auto;
}
.approved {
    color:white;
    background:rgb(52, 204, 76) !important;
}
.reserved {
    color:white;
    background:rgb(253, 129, 71) !important;
}
.available {
    background:white !important;
}
div.date_number {

    margin:0;
    vertical-align: top;

    font-weight: bold;
    float: left;

}

.monthName th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
}

th.dayName  {
  font-size: 0.7em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  background-color: rgb(73, 87, 192);
  color: white;
}

td.not-current-month {
  background-color: rgba(253, 254, 255, 0.99) !important;
}
td.past {

}

td.week_day {
  vertical-align:top;
  padding: 1em 1em;
  min-width:8em;
  min-height:5em;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff;
}
tr.day td.week_day {
  
   background-color: #fff;
}
tr.night td.week_day {
   background-color: rgba(245, 245, 247, 0.37);
   border: 1px solid #ccc;
   border-bottom:10px solid rgb(73, 87, 192);
}

.otherMonth, .day, .specialDay {
  padding: 3em 3em;
  border-right: 1px solid white;

}

.otherMonth {
  color: #eeeeee;
  background-color: white;
}

.day, .specialDay {
  text-align: center;
  border-bottom: 1px dotted #bbbbbb;
  background-color: #bbccff;
}
.specialDay {
  background-color: #003355;
  color: white;
}
.specialDay a, .specialDay a:visited, .specialDay a:hover {
  color: white;
  text-decoration: none;
  padding: 1em;
}
.specialDay a:hover {
  color: white;
  background-color: black;
}
.weekendDay {
  background-color: #ffffdd;
}
.today{
	background-color: #4682b4;
}
