      
<div class='operator #{collection.status}'>"
 
 <%= content_tag(:div, collection.user,  :class => 'user')
  	link_destroy(options,collection.col_id,day) 
  	link_confirm(options,collection.col_id,day)
</div>